doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}
            ul
                a(href='/update-cobj') Add or Update Car

            table(border="1")
                thead
                    tr
                        th Name
                        th Car Type
                        th Color
                tbody
                each car in cars
                    tr
                        td #{car.properties.name} 
                        td #{car.properties.car_type}
                        td #{car.properties.color}
